.basket_total {
  border-top: 1px solid var(--accent);
  padding: 20px 0;
  font-weight: bold;
  font-size: 20px;
}

.basket_buy_button {
  border-top: 1px solid var(--accent);
  padding: 20px 0;
  display: flex;
  justify-content: right;
}

.basket_checkout {
  padding-top: 20px;
}
