:root {
  --accent: #ebf0f1;
}

.basket_table {
  width: 100%;
}

.basket_table_header {
  background-color: var(--accent);
  margin: 0px;
  padding: 5px 10px;
  font-weight: 400;
  font-size: 1.2em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-style: none;
}

.basket_table_container {
  border-style: solid;
  border-width: 1px;
  border-color: whitesmoke;
}

.table_container {
  padding: 20px 15px;
  border-width: medium;
}

thead {
  font-weight: 400;
}

tr {
  height: 40px;
  text-align: left;
}

td,
th {
  padding-left: 5px;
  vertical-align: middle;
}

tr:nth-last-child(odd) {
  background-color: #f9f9f9;
}
